/* index.html */
@media (max-width: 1413px) {
    .section_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    

    .block_up {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .block_down {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width: 1295px) {
    .section_description.media {
        display: flex;
        justify-content: center;
        width: auto;
    }

    .section_five_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .section_five_text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section_five_button {
        display: flex;
        justify-content: center;
    }

    .section_five_img {
        margin: 70px 0 0 0;
    }

    .section_six_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .section_six_img {
        margin: 70px 0 0 0;
    }

    .foto_block {
        justify-content: center;
    }

} 

@media (max-width: 1120px) {
    .footer_up {
        flex-direction: column;
        align-items: center;
    }

    .footer_social {
        margin-top: 40px;
    }

    .footer_down_text {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px 0 30px 0;
        flex-direction: column;
    }
}

@media (max-width: 1000px) {
    .section_description {
        display: flex;
        justify-content: center;
        max-width: 567px;
        width: 100%;
    }
}

@media (max-width: 780px) {
    .logo_button {
        flex-direction: column;
    }

    .footer_button {
        margin: 20px 0 0 0;
    }

    .footer_info {
        flex-direction: column;
        align-items: center;
    }

    .footer_info a {
        margin-top: 20px;
    }

    .first, .second, .third, .for, .five, .six, .seven, .eight, .nine, .ten, footer {
        padding:0 20px 0 20px;
        margin: 0;
    }

    footer {
        margin-top: 150px;
    }

    .description {
        max-width: 500px;
        font-size: 35px;
        text-align: center;
    }

    .stat img {
        margin-top: 20px;
    }
}

@media (max-width: 600px) {
    .section_five_img {
        display: none;
    }

    .section_six_img {
        display: none;
    }

    .description_third {
        text-align: center;
    }

    .roadmap_txt {
        flex-direction: column;
        align-items: center;
    }

    .q1, .q2, .q3 {
        margin-top: 20px;
    }
}

@media (max-width: 500px) {
    .description {
        max-width: 450px;
        font-size: 30px;
    }

    .header {
        flex-direction: column;
    }

    .buttons {
        margin-top: 20px;
    }

}

@media (max-width: 470px) {
    .section_five_button {
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
    }

    .icon {
        flex-direction: column;
        align-items: center;
    }

    .currency, .deal, .percent {
        margin: 10px 0 0 0;
    }

    .rounds_block {
        flex-direction: column;
        align-items: center;
    }

    .rounds_block_right {
        margin-top: 20px;
    }

    .section_ten_button {
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
    }

    .alpha button {
        margin: 10px 0 15px 0;
    }

    .footer_up {
        align-items: center;
    }

    .footer_button {
        flex-direction: column;
        margin-top: 40px;
    }

    .hawex_payments {
        margin-top: 15px;
    }

    .footer_social {
        flex-direction: column;
    }

    .social_content {
        margin: 20px 0 0 0;
    }

}

@media (max-width: 442px) {
    .description {
        max-width: 450px;
        font-size: 24px;
    }

    .slogan {
        margin-top: 40px;
    }
}

@media (max-width: 370px) {
    .description_third {
        font-size: 28px;
    }

    .section_description {
        font-size: 28px;
    }

    .section_five_button {
        margin-top: 25px;
    }

    .box {
        margin: 20px 0 0 0;
    }

    .container {
        margin: 20px 0 0 0;
    }

    .foto_content {
        margin: 20px 0 0 0;
    }
}
