@font-face {
    font-family: 'Gilroy';
    src: url('../font/Gilroy-Regular.eot');
    src: url('../Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
    url('../font/Gilroy-Regular.woff') format('woff'),
    url('../font/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

section {
    padding-right: 20px;
}

.page {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    background-color: #eef1f7;
}

.first {
    max-width: 1440px;
    width: 100%;
    height: 737px;
    background-image: url('../img/intro.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.background_intro {
    display: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
    z-index: 1000;
}

.buttons {
    display: flex;
    align-items: center;
    z-index: 1;
}

.button_login {
    margin-left: 15px;
}

.button_login button {
    width: 110px;
    height: 40px;
    background: #1F6AE5;
    border: none;
    border-radius: 40px;
    color: #FFFFFF;
    cursor: pointer;
    font-family: 'Gilroy';
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
}

.button_login button:hover {
    background-color: rgb(31, 106, 229, 0.8);
    transition: all 0.5s ease;
}

.button_sign {
    margin-left: 15px;
}

.button_sign button {
    display: flex;
    align-items: center;
    width: 110px;
    height: 40px;
    background: none;
    border: none;
    border-radius: 40px;
    color: #1F6AE5;
    border: solid 2px #1F6AE5;
    cursor: pointer;
    padding-left: 10%;
    font-family: 'Gilroy';
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
}

.button_sign button:hover {
    background-color: rgb(31, 106, 229, 0.8);
    color: #FFFFFF;
    transition: all 0.5s ease;
}

.log_in {
    padding-right: 10px;
}

.name {
    position: relative;
    margin: 80px 0 0 0;
    text-align: center;
    font-family: 'Gilroy';
    color: #8E96BE;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.5em;
    text-transform: uppercase;
}

.site_description {
    margin-top: 41px;
}

.description {
    max-width: 723px;
    width: 100%;
    height: 144px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Gilroy';
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
    color: #2B3248;
    text-align: center;
}

.text_bold {
    font-weight: bold;
}

.slogan {
    max-width: 333px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    text-align: center;
    font-family: 'Gilroy';
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #353535;
}

.log_in_account {
    position: relative;
    text-align: center;
    margin-top: 75px;
}

.log_in_account button {
    width: 250px;
    height: 50px;
    background-color: #1F6AE5;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
    font-family: 'Gilroy';
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    margin-right: auto;
    margin-left: auto;
}

.log_in_account button:hover {
    background-color: rgb(31, 106, 229, 0.8);
    transition: all 0.5s ease;
}

.second {
    margin-left: 101px;
}

.section_name {
    margin-top: 120px;
    font-family: 'Gilroy';
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.2em;
    color: #A5A5A5;
}

.section_description {
    max-width: 559px;
    width: 100%;
    margin-top: 12px;
    font-family: 'Gilroy';
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    color: #353535;
}

.section_slogan {
    max-width: 582px;
    width: 100%;
    margin-top: 24px;
    font-family: 'Gilroy';
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
}

.section_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    width: 381px;
    background-color: #FFFFFF;
    box-shadow: 0px 20px 50px rgba(54, 56, 83, 0.09);
    border-radius: 20px;
    margin: 50px 57px 0 0;
}

.box3 {
    margin-top: 20px;
}

.box_name {
    padding: 39px 0 0 25px;
    font-family: 'Gilroy';
    font-weight: 600;
    font-size: 24px;
    line-height: 20px;
    color: #353535;
}

.box_description {
    max-width: 320px;
    padding: 14px 10px 10px 25px;
    font-family: 'Gilroy';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #353535;
}

.line {
    display: flex;
    margin: 0 auto;
    max-width: 1440px;
    width: 90%;
    margin-top: 120px;
    border: 1px solid #CCDDF7;
}

.third {
    margin-left: 101px;
}

.description_third {
    width: 990px;
}

.description_third_redact {
    font-weight: 500;
}

.section_container {
    display: flex;
}

.container {
    max-width: 598px;
    width: 100%;
    height: auto;
    margin: 50px 40px 0 0;
    background: linear-gradient(180deg, rgba(88, 166, 255, 0.15) 0%, rgba(162, 205, 255, 0.15) 109.05%);
    border-top: 2px solid #107FFF;
    box-shadow: 0px 10px 25px rgba(202, 215, 231, 0.65);
    backdrop-filter: blur(5px);
    border-radius: 20px;
}

.box_container {
    max-width: 518px;
    height: 174px;
    margin: 40px;
    background: #ADD2F3;
    border-radius: 15px;
}

.container p {
    max-width: 492px;
    margin: 30px 0 0 40px;
    font-family: 'Gilroy';
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #353535;
    padding-bottom: 20px;
}

.section_for_img {
    margin-top: 120px;
}

.stat {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 20px;
}

.line_left {
    width: 1260px;
    margin-top: 120px;
    border: 1px solid #CCDDF7;
    margin-left: 101px;
}

.five {
    margin-left: 101px;
}

.section_five_container {
    display: flex;
    justify-content: space-between;
}

.section_five_slogan {
    max-width: 507px;
    width: 100%;
    height: 90px;
    margin-top: 24px;
    font-family: 'Gilroy';
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
}

.section_five_button {
    display: flex;
}

.alpha button {
    width: 150px;
    height: 50px;
    background-color: #1F6AE5;
    border: none;
    border-radius: 10px;
    font-family: 'Gilroy';
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    margin-right: 15px;
}

.alpha button:hover {
    background-color: rgb(31, 106, 229, 0.8);
    transition: all 0.5s ease;
}

.beta button {
    width: 150px;
    height: 50px;
    background: none;
    border: none;
    border-radius: 10px;
    color: #1F6AE5;
    border: solid 2px #1F6AE5;
    cursor: pointer;
    font-family: 'Gilroy';
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
}

.beta button:hover {
    background-color: rgb(31, 106, 229, 0.8);
    color: #FFFFFF;
    transition: all 0.5s ease;
}

.section_five_img {
    max-width: 450px;
    object-fit: cover;
}

.six {
    margin-left: 101px;
}

.section_six_container {
    display: flex;
    justify-content: space-between;
}

.six_text {
    width: 614px;
}

.section_six_button {
    margin-top: 56px;
}

.section_six_img {
    object-fit: cover;
}

.seven {
    margin-left: 101px;
}

.block_up {
    display: flex;
    flex-wrap: wrap;
}

.seven_container {
    max-width: 599px;
    width: 100%;
    margin-top: 24px;
    margin-right: 40px;
    background: linear-gradient(180deg, rgba(35, 138, 255, 0.15) 0%, rgba(210, 231, 255, 0.0255) 109.05%);
    border-top: 3px solid #79ABE4;
    backdrop-filter: blur(5px);
    border-radius: 15px;
}

.name_up {
    margin: 42px 0 0 40px;
    font-family: 'Gilroy';
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #2B3248;
}

.number {
    margin: 16px 0 0 40px;
    font-family: 'Gilroy';
    font-weight: 600;
    font-size: 36px;
    line-height: 36px;
    color: #2B3248;
}

.number_lite {
    font-family: 'Gilroy';
    font-weight: 600;
    font-size: 36px;
    line-height: 36px;
    color: #C6CDE3;
}

.progress {
    max-width: 519px;
    height: 7px;
    margin: 36px 0 0 40px;
    background: #509AF4;
    border-radius: 7px;
}

.progress_live {
    max-width: 519px;
    height: 7px;
    margin: 36px 0 0 40px;
    border: solid 1px #509AF4;
    border-radius: 7px;
}

.icon {
    display: flex;
    padding: 20px 0 20px 0;
}

.currency {
    display: flex;
    align-items: center;
    margin: 0 40px 0 40px;
}

.deal {
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.percent {
    display: flex;
    align-items: center;
}

.icon_text {
    font-family: 'Gilroy';
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    color: #2B3248;
    padding-left: 6px;
}

.block_down {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.block_down_name {
    display: flex;
    align-items: center;
}

.name_down {
    margin: 42px 0 0 40px;
    font-family: 'Gilroy';
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #79ABE4;
}

.name_down_block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 92px;
    height: 24px;
    margin: 42px 0 0 16px;
    background: #8EB6F2;
    color: #FFFFFF;
    text-align: center;
    border-radius: 30px;
    font-family: 'Gilroy';
    font-weight: 600;
    font-size: 10px;
    line-height: 10px;
}

.rounds_block {
    display: flex;
    margin: 16px 0 0 40px;
}

.rounds_text_bold {
    margin-right: 56px;
    font-family: 'Gilroy';
    font-weight: 600;
    font-size: 56px;
    line-height: 56px;
    color: #2B3248;
}

.rounds_text_lite {
    margin-top: 12px;
    font-family: 'Gilroy';
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.eight {
    margin-left: 101px;
}

.section_description_eight {
    width: 789px;
}

.roadmap_img {
    width: 100%;
    object-fit: cover;
    margin-top: 67px;
    padding-right: 20px;
}

.roadmap_txt {
    display: flex;
    justify-content: space-around;
    margin-top: 24px;
    font-family: 'Gilroy';
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    color: #0D1526;
}

.q1, .q2, .q3 p {
    font-family: 'Gilroy';
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #0D1526;
}

.roadmap_text_lite {
    font-family: 'Gilroy';
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #7D8391;
}

.roadmap_text_ul {
    margin-top: 10px;
}

.roadmap_text_li {
    font-family: 'Gilroy';
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.roadmap_text_bold {
    font-family: 'Gilroy';
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}

.nine {
    margin-left: 101px;
}

.section_description_nine {
    width: 800px;
}

.foto_block {
    display: flex;
    flex-wrap: wrap;
    margin-top: 48px;
}

.foto_content {
    margin: 20px 20px 0 0;
}

.foto_name {
    margin-top: 20px;
    font-family: 'Gilroy';
    font-weight: 600;
    font-size: 20px;
    line-height: 18px;
    color: #161616;
}

.foto_a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 117px;
    height: 24px;
    margin-top: 16px;
    padding: 5px 11px;
    background: #D9E8FF;
    border-radius: 30px;
    font-family: 'Gilroy';
    font-weight: 500;
    font-size: 10px;
    line-height: 10px;
    color: #3A85F4;
}

/* Временно */
.foto_a_widht {
    width: 140px;
}

.foto_a:hover {
    background: rgba(187, 213, 252, 0.8);
    transition: all 0.5s ease;
}

.foto_content_img_info {
    position: relative;
    border-radius: 15px;
    z-index: 0;
}

.background_color_blue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 274px;
    height: 313px;
    border-radius: 15px;
    background-color: rgb(16, 127, 255, 0.5);
}

.background_color_blue:hover {
    background-color: rgb(16, 127, 255, 0.4);
    transition: all 0.5s ease;
}

.foto_content_img_back {
    position: absolute;
    z-index: -1;
}

.info_name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gilroy';
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}

.info_a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
    padding: 5px 11px;
    border: 1px solid rgba(255, 255, 255, 0.43);
    border-radius: 30px;
    font-family: 'Gilroy';
    font-weight: 500;
    font-size: 14px;
    line-height: 10px;
    color: #FFFFFF;
}

.info_a:hover {
    background-color: rgb(128, 128, 128, 0.5);
    transition: all 0.5s ease;
}

.social_info {
    position: absolute;
    margin-top: 220px;
}

.social_info_a {
    margin-right: 20px;
}

.ten {
    margin-left: 101px;
}

.section_description_ten {
    width: 614px;
}

.section_ten_button {
    display: flex;
    margin-top: 72px;
}

footer {
    display: block;
    margin: 250px 0 0 101px;
}

.footer_up {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
}

.logo_button {
    display: flex;
}

.footer_button {
    display: flex;
    align-items: center;
    margin-left: 90px;
}

.main_website a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    border: 1px solid rgba(40, 82, 190, 0.3);
    border-radius: 80px;
    padding: 12px 12px;
    font-family: 'Gilroy';
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    color: #2852BE;
}

.main_website img {
    margin-right: 12px;
}

.main_website a:hover {
    background-color: rgb(31, 106, 229, 0.8);
    color: #ffffff;
    transition: all 0.5s ease;
}

.hawex_payments a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    border: 1px solid rgba(40, 82, 190, 0.3);
    border-radius: 80px;
    padding: 12px 12px;
    font-family: 'Gilroy';
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    color: rgba(54, 56, 83, 0.65);
    margin-left: 12px;
}

.hawex_payments a img {
    margin-right: 12px;
}

.hawex_payments a:hover {
    background-color: rgb(31, 106, 229, 0.8);
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer_social {
    display: flex;
}

.social_content {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 30px;
}

.social_text {
    font-family: 'Gilroy';
    font-weight: 500;
    font-size:15px;
    line-height: 140%;
    color: #494949;
}

.footer_line {
    width: 98%;
    margin-top: 50px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.footer_down_text {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.copyright p {
    font-family: 'Gilroy';
    font-weight: 500;
    font-size: 12px;
    line-height: 13px;
    color: #B1B1B1;
    margin-bottom: 30px;
}

.footer_info {
    display: flex;
}

.footer_info p {
    margin-right: 32px;
    font-family: 'Gilroy';
    font-weight: 500;
    font-size: 14px;
    line-height: 13px;
    color: #363853;
}

.footer_info p:hover {
    color: rgb(54, 56, 83, 0.6);
    transition: all 0.5s ease;
}